<h1>*ngSwitch</h1>

<div [ngSwitch]="color">
	<p *ngSwitchCase="'azul'">El color es Azul</p>
	<p *ngSwitchCase="'verde'">El color es Verde</p>
	<p *ngSwitchCase="'rojo'">El color es Rojo</p>
	<p *ngSwitchDefault>No hay ningún color</p>
</div>

<hr />
<br />

<h1>*ngFor Objects</h1>

<div class="products-grid">
	<div *ngFor="let product of products">
		<img [src]="product.image" [alt]="product.name" />
		<p>{{ product.price }}</p>
		<h2>{{ product.name }}</h2>
	</div>
</div>

<hr />
<br />

<h1>*ngFor</h1>

<input type="text" required [(ngModel)]="inputName" />

<button (click)="addNameToArray($event)">Add name to array</button>

<ul>
	<li *ngIf="names.length <= 0">La lista está vacía, agrega nuevos nombres.</li>
	<li *ngFor="let name of names; index as i">
		{{ i + 1 }} - {{ name }} <button (click)="onDeleteName(i)">Delete</button>
	</li>
</ul>

<hr />
<br />

<h1>ngModel</h1>

<h1>*ngIf</h1>

<p *ngIf="person.name === 'Jorge'; else bockElse">{{ person.name }}</p>

<ng-template #bockElse>
	<p>Block else</p>
</ng-template>

<hr />
<br />

<h1>ngModel</h1>

<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>{{ nameInput.valid }}</p>

<p>Edad: {{ person.age }}</p>
<input
	type="number"
	required
	min="18"
	max="100"
	#ageInput="ngModel"
	[(ngModel)]="person.age"
/>
<p>{{ ageInput.valid }}</p>

<hr />
<br />

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Envía</button>
<button (click)="btnToggle()">
	{{ btnDisabled ? "Activa" : "Desactiva" }} el botón
</button>

<p>{{ age }}</p>
<button (click)="agePlus()">Age ++</button>

<input type="text" (keyup)="onChange($event)" [value]="input" />

<p>{{ input }}</p>

<div class="box" (scroll)="onScroll($event)">
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ullam
		ducimus tempora dolore voluptatem quidem illo illum. Eveniet quasi, minus
		nobis mollitia molestiae ex recusandae itaque modi? Doloribus, voluptas
		possimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore
		ullam ducimus tempora dolore voluptatem quidem illo illum. Eveniet quasi,
		minus nobis mollitia molestiae ex recusandae itaque modi? Doloribus,
		voluptas possimus! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
		Labore ullam ducimus tempora dolore voluptatem quidem illo illum. Eveniet
		quasi, minus nobis mollitia molestiae ex recusandae itaque modi? Doloribus,
		voluptas possimus!
	</p>
</div>

<hr />
<br />

<h1>Propiedades</h1>
<input type="text" [value]="person.name" />
<button [disabled]="btnDisabled">Envía</button>
<progress max="100" [value]="age"></progress>

<hr />
<br />
<h1>Hola Platzi</h1>
<h2>{{ "Hello Platzi ".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola soy {{ name }}, tengo {{ age }} años.</h3>

<img src="{{ img }}" alt="Platzi" width="200" />
